{% load tags %}

{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<a href="/anime/add">Add an anime</a>

<table>
    <tr>
        <th>Name</th>
        <th>Japanese Name</th>
        {% for user in user_list %}
            <th>{{ user.userprofile.chosen_name }}</th>
        {% endfor %}
        <th>Avg</th>
        <th>Median</th>
    </tr>
    {% for anime in anime_list %}
    <tr>
        <td><a href="/anime/{{ anime.id }}">{{ anime.name }}</a></td>
        <td><a href="/anime/{{ anime.id }}">{{ anime.name_secondary }}</a></td>
        {% for user in user_list %}
            {% get_user_rating_for_anime user anime as rating %}
            <td>{{ rating }}</td>
        {% endfor %}
        {% get_average_for_anime anime as avg %}
        <td>{{ avg }}</td>
        {% get_median_for_anime anime as median %}
        <td>{{ median }}</td>
    </tr>
    {% endfor %}
</table>